.filters {
  display: flex;
  gap: 10px;
  padding-left: 68px;
}

.filter-button-off {
  background-color: rgb(29, 29, 29);
  color: white !important;
}

.filter-button-on {
  background-color: #727272;
  color: white !important;
}

.filter-button:hover {
  background-color: #727272 !important; /* Change to this color when hovered */
}


