/* song-list.component.css */
.song-list-container {
  width: 80%;
  margin-left: 0;
  padding-left: 64px;
  padding-top: 20px;
  max-height: 100vh; /* Adjust based on your needs */
  overflow-y: auto;  /* Enables vertical scrolling if needed */
}

app-song {
  max-width: 50%;
}
